<html>
  <head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/404.css" />

  </head>
  <body>
    <div id="main">
      <div class="fof">
        {{{body}}}
      </div>
    </div>
  </body>
</html>