<html>
  <head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/add-product">Add Product</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <div id="main">
      <div class="fof">
        <h1>Error 404</h1>
      </div>
    </div>
  </body>
</html>