<html>
  <head>
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shops.css" />
    <link rel="stylesheet" href="/css/nav.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/add-product">Add Product</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <div class="wrapper">
      <div class="product">
        <img src="https://placeimg.com/400/400/animals" alt="" />
        <h4 class="product-name">Cotton candy jelly-o gummies</h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
      <div class="product">
        <img src="https://placeimg.com/405/405/animals" alt="" />
        <h4 class="product-name">
          Chocolate cake bear claw oat cake wafer pastry pudding
        </h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
      <div class="product">
        <img src="https://placeimg.com/410/410/animals" alt="" />
        <h4 class="product-name">Product name</h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
      <div class="product">
        <img src="https://placeimg.com/416/415/animals" alt="" />
        <h4 class="product-name">
          Chocolate cake bear claw oat cake wafer pastry pudding
        </h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
      <div class="product">
        <img src="https://placeimg.com/403/403/animals" alt="" />
        <h4 class="product-name">Cotton candy jelly-o gummies</h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
      <div class="product">
        <img src="https://placeimg.com/402/402/animals" alt="" />
        <h4 class="product-name">
          Chocolate cake bear claw oat cake wafer pastry pudding
        </h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
      <div class="product">
        <img src="https://placeimg.com/409/402/animals" alt="" />
        <h4 class="product-name">Product name</h4>
        <button class="btn btn-buy">Add to cart</button>
      </div>
    </div>
  </body>
</html>
